@import "./variables.scss";

.CodeMirror {
    height: auto;
}

.disabled {
    editor {
        .CodeMirror-linenumber {
            opacity: 0.0;
        }
        .CodeMirror-activeline-background {
            background: none;   
        }
    }
}
