@mixin user-select ($value: none) {
	-webkit-user-select: $value;
	   -moz-user-select: $value;
	    -ms-user-select: $value;
	        user-select: $value;
}

@mixin filter ($value) {
	filter: $value;
	-webkit-filter: $value;
}

@mixin border-radius($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin image-text() {
    @include user-select(none);
	cursor: default;
}

@mixin background-gradient($color: black) {
    background: linear-gradient(to bottom, fade-out($color, 1.0) 0%, fade-out($color, 0.05) 100%);
}
